.highlightHovered {
    background-color: rgb(241, 127, 228);
}

.highlightRow {
    background-color: rgb(155, 237, 164);
}

.highlightRowDark {
    background-color: rgba(165, 120, 188, 0.5);
}

.insert {
    background-color: rgb(50, 221, 70);
}

.insertDark {
    background-color: rgba(89, 30, 173, 0.886);
}

.delete {
    border-right: 0.1rem solid rgb(221, 76, 50);
    padding-right: 0.5rem;
}

